<?xml version="1.0" encoding="UTF-8" ?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"	
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
	"> 

	 <!-- 数据源 -->
	<!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="url" value="jdbc:oracle:thin:@192.168.0.1:1521:orcl"></property>
		<property name="username" value="exam"></property>
		<property name="password" value="123"></property>
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
	</bean> 
	-->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="url" value="jdbc:sqlserver://localhost:1433;databasename=order"></property>
		<property name="username" value="sa"></property>
		<property name="password" value="123456"></property>
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"></property>
	</bean>
	<!-- 注册SessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="packagesToScan">
			<list>
				<value>com.demo.entity</value>
				<value>com.demo.entity.user</value>
				<value>com.demo.entity.Express</value>
				<value>com.demo.entity.order</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
			</props>
		</property>
	</bean>
	<!-- Hibernate操作助手类 -->
	<bean id="myHibernateTemplate" class="com.demo.bean.MyHibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="myHibernateDaoSupport" class="com.demo.bean.MyHibernateDaoSupport">
	<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 添加Bean的注解支持 -->
	<context:component-scan base-package="com.demo"/> 
	<!-- 自动代理 -->
	<aop:aspectj-autoproxy proxy-target-class="true"/>
</beans> 